@model IEnumerable<TestTask.Models.Employee>
@{
    ViewData["Title"] = "Сотрудники";
}

<div class="text-center">
    <h1 class="display-4"><b>Сотрудники</b></h1>
</div>
<center>
    <a class="text-dark" asp-action="Employees" asp-route-state=1 id="word">По фамилии</a>
    &nbsp;&nbsp;
    <a class="text-dark" asp-action="Employees" asp-route-state=2 id="word">По компании</a>
    &nbsp;&nbsp;</center>
<div class="text-right">
    <a class="text-dark" asp-action="AddEmployee" asp-controller="User"><img width="20" height="20" src="~/image/add.png" />Добавить сотрудника</a><br />
</div>

<form method="post" asp-action="Action" asp-controller="User">
    <script type="text/javascript">
        function check(field) {
            for (i = 0; i < field.length; i++)
                if (field[i].checked == true)
                    field[i].checked = false;
                else
                    field[i].checked = true;
        }
    </script>
    <div class="text-left">
        <div>
            <button name="delete"><img width="30" height="30" src="~/image/trash.png" title="Удалить сотрудника" /></button>
        </div>
    </div>
    <table class="table"
        <thead>
            <tr>
                <th>
                    <input id="global_checkbox" type="checkbox" onclick="check(this.form.AreChecked)">
                </th>
                <th><b>ID</b></th>
                <th><b>Фамилия</b></th>
                <th><b>Имя</b></th>
                <th><b>Отчество</b></th>
                <th><b>Компания</b></th>
                <th><b>Должность</b></th>
                <th><b>Дата найма</b></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td><input class="check-box" type="checkbox" name="AreChecked" value="@item.EmployeeID" /></td>
                <td>@item.EmployeeID</td>
                <td>@item.Surname</td>
                <td>@item.FirstName</td>
                <td>@item.Patronymic</td>
                <td>@item.Company</td>
                <td>@item.Position</td>
                <td>@item.Date
                <a asp-action="EditEmployee" asp-controller="User" asp-route-id="@item.EmployeeID"><img align="right" width="40" height="40" src="~/image/edit.png" hspace="10" title="Редактировать" /></a>
           </td>
                </tr>
            }

        </tbody>
    </table>
</form>